services:
  # ======================================
  # MONGODB
  # ======================================
  mongodb:
    container_name: mongodb
    image: mongo:5.0
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/data/db
    networks:
      - nest_network

  # ======================================
  # KAFKA (Apache Kafka, KRaft mode, 2 listeners)
  # ======================================
  kafka:
    container_name: kafka
    image: apache/kafka:latest
    restart: always
    ports:
      - "9094:9094"   # external listener
    environment:
      # --- Node identity ---
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      # --- LISTENERS ---
      # INTERNAL → for Kafka-UI and services in Docker 
      # EXTERNAL → for NestJS / KafkaJS to run from HOST machine 
      # CONTROLLER → requested by KRaft
      KAFKA_LISTENERS: INTERNAL://:9092,EXTERNAL://0.0.0.0:9094,CONTROLLER://:9093

      # Advertised listeners = Kafka tells the client where to connect
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,EXTERNAL://localhost:9094

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT

      # Kafka broker use INTERNAL listener
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

      # Controller config
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      # KRaft log directory
      KAFKA_LOG_DIRS: /var/lib/kafka/data

      # Topics config
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3

    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - nest_network

  # ======================================
  # KAFKA UI
  # ======================================
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local-cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_READONLY: "false"
      KAFKA_CLUSTERS_0_TOPIC_AUTO_CREATE: "true"
    depends_on:
      - kafka
    networks:
      - nest_network

# ======================================
# VOLUMES
# ======================================
volumes:
  kafka_data:
    driver: local
  mongodb_data:
    driver: local

# ======================================
# NETWORK
# ======================================
networks:
  nest_network:
    name: nest_network
    driver: bridge
